.frontend-popup-modal {
    position: fixed;
    display: none;
}
.ninja-popup-modal{
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: none;
    background-color: black;
    background-color: rgba(17, 17, 17, 0.7);

    .ninja-popup-modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        width: 80%;

        //for image
        min-height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .ninja-popup-close-button-container{
            display: flex;
            float: right;
            .ninja-countdown-timer-bar-close {
                display: flex;
                align-items: center;
                // color: #fff;
                width: 26px;
                height: 26px;
                float: right;
                position: absolute;
                transform: translateY(-50%);
                border-radius: 50%;
                cursor: pointer;
                transition: all 0.3s ease;
                opacity: 0.8;
                &:before,&:after{
                    content: '';
                    width: 15px;
                    height: 1px;
                    background: currentColor;
                    position: absolute;
                    transform: translate(-50%, -50%);
                }
            }
            
            .ninja-countdown-timer-bar-close:before {
                transform: translate(-50%, -50%) rotateZ(45deg);
            }
            
            .ninja-countdown-timer-bar-close:after {
                transform: translate(-50%, -50%) rotateZ(-45deg);
            }
        }

        .ninja-popup-components-wrapper-column {
            display: flex;
            flex-direction: column;
            .ninja-popup-banner-container{
                flex-basis: 250px !important;
                margin: 20px 0px;
            }
        }

        .ninja-popup-components-wrapper{
            display: flex;
            margin-top: 10px;

            // .ninja-popup-banner-container{
            //     flex-basis: 0px;
            //     flex-grow: 1;
            //     min-width: 0px;
            //     position: relative;

            //     .ninja-banner-component{
            //         position: absolute;
            //         top: 0;
            //         right: 0;
            //         bottom: 0;
            //         left: 0;
            //         background-repeat: no-repeat;
            //         background-size: cover;
            //         background-position: center;
            //     }
            // }

            .ninja-popup-components-container {
                flex-basis: 0px;
                flex-grow: 1;
                min-width: 0px;
            }

            .ninja-popup-component-container:not(:first-child) {
                margin-top: 18px;
            }
            .ninja-image-component-container{
                display: flex;
                justify-content: center;
                .ninja-image-component{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            // .ninja-popup-button-container{
            //     display: flex;
            //     justify-content: center;
            //     .ninja-button-component{
            //         display: inline-flex;
            //         overflow: hidden;
            //         box-sizing: border-box;
            //         justify-content: center;
            //         align-items: center;
            //         padding: 0 12px;
            //         outline: none;
            //         white-space: nowrap;
            //         text-overflow: ellipsis;
            //         font-weight: 700;
            //         line-height: 1;
            //         transition-property: border-color, background-color, color;
            //         transition-duration: 0.2s;
            //         transition-timing-function: ease;
            //     }
            // }
        }
    }
}